@page
@model WebApp.Pages.Orden.GridModel
@{
}

<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            Orden
        </div>
        <div class="card-body">

            <a class="btn btn-primary" asp-page="Edit">
                <i class='bx bxs-add-to-queue'></i>
            </a>

            <div class="row">
                <div class="col-12">
                    <table id="GridView" class="table table-bordered table table-striped table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Producto</th>
                                <th>Cantidad Producto</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tboby>
                            @foreach (var item in Model.GridList)
                            {
                            <tr>
                                <td>@item.IdOrden</td>
                                <td>@item.Producto.NombreProducto</td>
                                <td>@item.CantidadProducto</td>
                                <td>@item.Estado</td>
                                <td>
                                    <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.IdOrden"><i class='bx bx-edit-alt'></i></a>

                                    <button type="button" class="btn btn-danger" onclick="OrdenGrid.OnClickEliminar(@item.IdOrden)">
                                        <i class='bx bx-trash'></i>
                                    </button>
                                </td>
                            </tr>
                            }
                        </tboby>
                    </table>

                </div>
            </div>



        </div>
    </div>


</div>

@section Scripts{ 

    <script defer src="~/App/Orden/Grid.js"></script>
}